@charset "UTF-8";

.payment_body_wrap{
	display: flex;
	position: relative;
	width: 1160px; height: 760px;
	margin: 0 auto;
	top: 20px;
	border: 1px solid #002f6c;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
}

.payment_body_wrap .payment_insert_info{
	position: relative;
	padding-left: 10px;
	width: 69%; height: 740px;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
	overflow: scroll;
}
.payment_insert_info h1{
	font-size: 36px;
	font-weight: 500;
	color: #002f6c;
	margin-top: 20px;
}
.payment_insert_info h3{
	margin-top: 30px;
}
.payment_kind_wrap{
	margin-top: 10px;
	width: 98%;
	border: 1px solid #002f6c;
	border-radius: 7px;
	display: flex;
}
.payment_kind_wrap .payment_kind{
	flex-grow: 1;
	position: relative;
	height: 50px;
	border-right: 1px solid #002f6c;
}
.payment_kind_wrap .payment_kind:last-child{
	border: none;
}
.payment_kind_wrap .payment_kind:hover{
	background: #002f6c;
	cursor: pointer;
}
.payment_kind_wrap .payment_kind.on{
	background: #002f6c;
}
.payment_kind_wrap .payment_kind.on .kind_txt{
	color: white;
	font-weight: 700;
}
.payment_kind_wrap .payment_kind:first-child:hover{
	border-radius: 6px 0 0 6px;
}
.payment_kind_wrap .payment_kind:last-child:hover{
	border-radius: 0px 6px 6px 0;
}
.payment_kind_wrap .payment_kind:hover .kind_txt{
	color: white;
	font-weight: 700;
}
.payment_kind_wrap .payment_kind .kind_txt{
	position: absolute;
	width: 120px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-weight: 500;
	color: #002f6c;
	text-align: center;
}

/* 결제정보 입력 */
.payment_insert_info .insert_box{
	display: none;
	width: 98%;
}
.payment_insert_info .insert_box h2{
	font-size: 24px;
	font-weight: 500;
	margin-top: 20px;
	color: #002f6c;
	padding-bottom: 10px;
	border-bottom: 1px solid #002f6c;
}
.payment_insert_info .insert_box h3.terms_use{
	position: relative;
	width: 65%;
	margin-left: 10px;
	border-bottom: 1px solid #EAEAEA;
}
.payment_insert_info .insert_box .terms_use_each{
	width: 65%;
	margin-top: 30px;
	margin-left: 10px;
}
.payment_insert_info .insert_box .terms_use_each input{
	margin-left: 10px;
}
.payment_insert_info .insert_box h3.terms_use #all_check{
	position: absolute;
	right: 60px;
	top: 5px;
}
.payment_insert_info .insert_box h3.terms_use #all_check + label{
	position: absolute;
	right: 0;
	top: 0;
}
.payment_insert_info .insert_box.on{
	display: block;
}

/* Payment Button 공통 css */
.payment_btn{
	display: none;
	border: 1px solid #002f6c;
	background: #FFF;
	border-radius: 5px;
	font-size: 24px;
	font-weight: 500;
	font-family: '나눔스퀘어', NannumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', 'Dotum';
	color: #002f6c;
	padding: 10px 30px 10px 30px;
	margin-top: 30px;
	float: right;
	cursor: pointer;
}
.payment_btn:hover{
	background: #002f6c;
	font-weight: 700;
	color: white;
}

.payment_btn.kakao{
	float: none;
	margin: 30px auto 0 auto;
}

/* Card */
.card_grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2px;
	margin-top: 30px;
}
.card_grid .card_item{
	border: 1px solid #002f6c;
	text-align: center;
	line-height: 50px;
	height: 50px;
	font-size: 16px;
	font-weight: 500;
	color: #002f6c;
}
.card_grid .card_item.on{
	background: #002f6c;
	font-weight: 700;
	color: white;
}
.card_grid .card_item:hover{
	background: #002f6c;
	color: white;
	font-weight: 700;
	cursor: pointer;
}

.card_info{
	display: none;
	margin-top: 30px;
}
.card_info .card_info_txt{
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 5px;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
}
.card_info .card_number{
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	margin-top: 30px;
	margin-left: 10px;
}
.card_info .card_number input{
	font-size: 24px;
	font-weight: 500;
	color: #002f6c;
	border: 1px solid #002f6c;
	border-radius: 5px;
	text-align: center;
}
.card_info .card_number input:focus{
	outline: none;
}
.card_info .card_date{
	display: inline-block;
	margin-top: 30px;
	margin-left: 10px;
}
.card_info .card_date select{
	font-size: 24px;
	font-weight: 500;
	color: #002f6c;
	padding: 2px 0 2px 20px;
	border: 1px solid #002f6c;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}
.card_info .card_date input{
	font-size: 24px;
	font-weight: 500;
	color: #002f6c;
	border: 1px solid #002f6c;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}
.card_info .card_cvc{
	display: inline-block;
	margin-left: 10px;
}
.card_info .card_cvc input{
	font-size: 24px;
	font-weight: 500;
	color: #002f6c;
	border: 1px solid #002f6c;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}

/* =========================================== */
.payment_body_wrap .payment_item_info{
	position: relative;
	width: 29.5%; height: 740px;
	background: #D9E5FF;
	border-radius: 10px;
	text-align: right;
}
.payment_item_info h1{
	display: block;
	font-size: 24px;
	font-weight: 500;
	color: #002f6c;
	padding: 10px 10px 0 0;
}
.payment_item_info h1.total_txt{
	margin-top: 30px;
}

/* List */
.payment_item_info .item_list_wrap{
	width: 96%;
	min-height: 500px;
	margin: 20px auto 0 auto;
	border: 1px solid #B2CCFF;
	border-radius: 10px;
	background: #002f6c;
}
.payment_item_info .item_list_wrap span{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: white;
	padding: 10px;
	margin-top: 7px;
	margin-right: 5px;
	border-top-color: #B2CCFF;
	border-right-color: #B2CCFF;
	border-left-color: #DAD9FF;
	border-bottom: 1px solid #002f6c;
	border-style: outset;
	border-radius: 5px;
}

/* Total */
.payment_item_info .item_total{
	font-size: 36px;
	font-weight: 700;
	color: red;
	margin-top: 20px;
}


/* ===================================== payment_success ===================================== */
.payment_success{
	text-align: center;
	position: relative;
}

.payment_success .success_txt{
	text-align: center;
	margin-top: 30px;
}
.payment_success .success_txt h1{
	display: block;
	line-height: 100px;
	height: 100px;
	font-size: 48px;
	font-weight: 500;
	color: #002f6c;
}
.payment_success .success_txt h3{
	display: block;
	height: 150px;
	text-align: left;
	font-size: 24px;
	font-weight: 500;
	color: #002f6c;
}
.payment_success .payment_btn.success_return{
	display: block;
	margin-top: 30px;
}
.loader { 
	position: absolute; 
	left: 50%; top: 50%; 
	z-index: 1; 
	width: 150px; height: 150px; 
	margin: -75px 0 0 -75px; 
	border: 16px solid #f3f3f3; 
	border-radius: 50%; border-top: 16px solid #3498db; 
	width: 120px; height: 120px; 
	-webkit-animation: spin 2s linear infinite; 
	animation: spin 2s linear infinite; 
}
/* 로딩바 애니메이션 */
@-webkit-keyframes spin { 
	0% { 
		-webkit-transform: rotate(0deg);
		opacity: 1; 
	} 
	100% { 
		-webkit-transform: rotate(360deg); 
		opacity: 0;
	} 
} 
@keyframes spin { 
	0% { 
		transform: rotate(0deg);
		opacity: 1;
	} 
	100% { 
		transform: rotate(360deg); 
		opacity: 0;
	} 
}

