<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.kjl.fp.board.BoardVO" alias="BoardVO"/>
  		
  		<!-- 상품 -->
  		<typeAlias type="com.kjl.fp.product.bread.BreadVO" alias="BreadVO"/>
  		<typeAlias type="com.kjl.fp.product.bread.StarBreadVO" alias="StarBreadVO"/>
  		<typeAlias type="com.kjl.fp.cart.CartVO" alias="CartVO"/>

  		<typeAlias type="com.kjl.fp.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.kjl.fp.member.RoleVO" alias="RoleVO"/>
		
		<!-- 결제 -->
		<typeAlias type="com.kjl.fp.payment.PaymentInfoVO" alias="PaymentInfoVO"/>
		<typeAlias type="com.kjl.fp.payment.PaymentCardVO" alias="PaymentCardVO"/>
		<typeAlias type="com.kjl.fp.payment.PaymentItemListVO" alias="PaymentItemListVO"/>

  		<typeAlias type="com.kjl.fp.member.CouponVO" alias="CouponVO"/>
  		<typeAlias type="com.kjl.fp.member.Coupon_MemberVO" alias="CmVO"/>
  		
  		<!-- 라이브러리 -->
  		<typeAlias type="java.lang.String" alias="String"/>
  		<typeAlias type="java.util.Map" alias="Map"/>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		<typeAlias type="java.lang.Integer" alias="Integer"/>
  		<typeAlias type="java.util.List" alias="List"/>

  	</typeAliases>
  </configuration>