<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.kjl.fp.board.BoardVO" alias="BoardVO"/>

  		<!-- 상품 -->
  		<typeAlias type="com.kjl.fp.product.bread.BreadVO" alias="BreadVO"/>
  		<typeAlias type="com.kjl.fp.product.bread.StarBreadVO" alias="StarBreadVO"/>
  		
  		<typeAlias type="com.kjl.fp.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.kjl.fp.member.RoleVO" alias="RoleVO"/>

  		
  		<!-- 라이브러리 -->
  		<typeAlias type="java.lang.String" alias="String"/>
  		<typeAlias type="java.util.Map" alias="Map"/>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		<typeAlias type="java.util.List" alias="List"/>

  	</typeAliases>
  </configuration>