<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.kjl.fp.board.BoardVO" alias="BoardVO"/>
  		
  		
  		<!-- 라이브러리 -->
  		<typeAlias type="java.util.Map" alias="Map"/>
  	</typeAliases>
  </configuration>