@charset "UTF-8";
/* board_view_title */
.board_view_title{
	padding: 24px 0;
	margin-top: 40px;
	overflow: hidden;
	border-top: 2px solid #002f6c;
	border-bottom: 1px solid #d9d9d9;
}
.board_view_title p:first-child{
	display: inline-block;
	width: 77.7%;
	font-size: 20px;
	font-weight: 500;
	color: #202023;
	margin-bottom: 0;
	box-sizing: border-box;
}
.board_view_title p:nth-child(2){
	display: inline-block;
	width: 22%;
	text-align: right;
	box-sizing: border-box;
	color: #898989;
}

/* board_view_con */
.board_view_con{
	width: 100%;
	margin-top: 50px;
	word-break: normal;
	word-wrap: break-word;
	font-size: 30px;
}

/* board_view_util */
.board_view_util{
	margin-top: 70px;
	padding-top: 20px;
	overflow: hidden;
	border-top: 1px solid #002f6c;
}
.board_view_util a{
	float: right;
	width: 170px;
	line-height: 38px;
	margin-right: 0;
	text-align: center;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	box-sizing: border-box;
}

/* board_view_page */
.board_view_page{
	width: 100%;
	padding: 50px 0;
}
.board_view_page dl{
	width: 100%;
	line-height: 60px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	clear: both;
	overflow: hidden;
}
.board_view_page dl:nth-child(1) {
	border-bottom: 0;
}
.board_view_page dt{
	width: 80px;
	float: left;
	text-align: center;
	background: url("../../../images/common/board_view_bar.gif") no-repeat right center;
}
.board_view_page dd{
	width: 940px;
	float: left;
	padding-left: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.board_view_page dd:last-child {
	width: auto;
	float: right;
	text-align: right;
	color: #898989;
	padding-left: 0;
	padding-right: 20px;
}
