@charset "UTF-8";

.admin_payment_container{
	width: 1180px;
	height: auto;
	min-height: 500px;
	margin: 100px auto;
	background: #DAD9FF;
}

.admin_payment_container .payment_list{
	width: 100%;
	height: 500px;
	overflow: scroll;
}
.admin_payment_container .payment_list_tbl{
	width: 100%;
	border: 1px solid black;
}
.admin_payment_container .payment_list_tbl th{
	padding: 15px;
	background: #B2EBF4;
}
.admin_payment_container .payment_list_tbl td{
	text-align: center;
	border-top: 1px solid black;
	padding: 10px;
}