@charset "UTF-8";

.adminBoard_container{
	width: 1180px;
	min-height: 300px;
	margin: 0 auto;
}
.adminBoard_container .board_ctg_wrap{
	width: 100%;
	height: auto;
	display: flex;
	border: 1px solid #002f6c;
	overflow: hidden;
}
.board_ctg_wrap .board_ctg{
	width: 33.3%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	cursor: pointer;
}
.board_ctg_wrap .board_ctg.on{
	background: #002f6c;
}
.board_ctg_wrap .board_ctg.on .board_ctg_title{
	font-weight: 700;
	color: white;
}
.board_ctg_wrap .board_ctg:hover{
	background: #002f6c;
}
.board_ctg_wrap .board_ctg:hover .board_ctg_title{
	font-weight: 700;
	color: white;
}
.board_ctg_wrap .board_ctg:not(:last-child) {
	border-right: 1px solid #002f6c;
}
.board_ctg_wrap .board_ctg .board_ctg_title{
	font-size: 16px;
	font-weight: 500;
	color: #002f6c;
}

/* 카테고리별 타입 가져오기 */
.adminBoard_container .board_typeList_wrap{
	width: 100%;
	display: flex;
	border: 1px solid #002f6c;
	border-top: none;
	overflow: hidden;
}
.board_typeList_wrap .board_type{
	display: flex;
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
	height: 50px;
	cursor: pointer;
}
.board_typeList_wrap .board_type.on{
	background: #002f6c;
}
.board_typeList_wrap .board_type.on .board_typeList_title{
	font-weight: 700;
	color: white;
}
.board_typeList_wrap .board_type:hover{
	background: #002f6c;
}
.board_typeList_wrap .board_type:hover .board_typeList_title{
	font-weight: 700;
	color: white;
}
.board_typeList_wrap .board_type:not(:last-child){
	border-right: 1px solid #002f6c;
}
.board_typeList_wrap .board_type .board_typeList_title{
	font-size: 16px;
	font-weight: 500;
	color: #002f6c;
}

/* boardInsert.css */
.ajaxResult input, select{
	display: block;
}

/* 모달 */
.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	top: 0; left: 0;
	display: none;
	z-index: 999999;
}
.modal .admin_modal{
	position: fixed;
	width: 1200px;
	height: 800px;
	background: white;
	border-radius: 10px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}