@charset "UTF-8";

#contentWrap{


	word-break: keep-all;
	position: relative;
}

.status_visual{
	background: url(../../images/member/admin/admin_bg.jpg) no-repeat center;
	background-size: cover;
}

.visual_big .sub_visual{
	width: 100%;
	height: 850px;
	position: relative;
}

.visual_big .sub_visual h1.con_tt{
	padding: 226px 0 75px;
	font-size: 48px;
	color: #FFF;
	text-align: center;
	font-weight: lighter;
}

.visual_mt{
	display:block;
	width:auto;
	color: #FFF;
	letter-spacing: 0;
	margin: -10px auto 4px;
	text-align: center;
	font-size: 38px;
	font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
}

.visual_txt{
	display:block;
	width: auto;
	margin: auto;
	color: #b9b8b8;
	text-align:center;
	font-size:18px;
	line-height:1.3em;
	font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
	
}

.lnb{
	width: 100%;
	position: absolute;
	top: 600px;
	text-align: center;
}

.lnb li{
	width: 178px;
	display: inline-block;
	border:1px solid #98989e;
	box-sizing: border-box;
	opacity: 0.7;
}

.lnb li.on{
	background: #84847c;
	border: 1px solid #84847c;
	opacity: 1;
}

.lnb li:not(li:nth-child(1)) {
    border-left: none;
    margin-left: -4px;
}

.lnb li.on a{
	color: #FFF;
	font-weight: 500;
	
}

.lnb li a{
	display: block;
	color: #FFF;
	height: 37px;
	line-height: 37px;
	text-align: center;
	
}



