<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.kjl.fp.admin.AdminMapper">
   
   
   <resultMap type="MemberVO" id="getUsersResult">
   	<id column="userName" property="userName"/>
   	<result column="password" property="password"/>
   	<result column="name" property="name"/>
   	<result column="nickName" property="nickName"/>
   	<result column="sex" property="sex"/>
   	<result column="phone" property="phone"/>
   	<result column="birthday" property="birthday"/>
   	<result column="enabled" property="enabled"/>
   	
   	<collection property="roles" javaType="List" ofType="com.kjl.fp.member.RoleVO">
   	<id column="num" property="num"/>
   	<result column="roleName" property="roleName"/>
   	</collection>
   
   </resultMap>
   
   
   
   
   
   
  <select id="getUsers" resultMap="getUsersResult">
  		select *
		FROM
		(select m.*,r.*, row_number() over(partition by m.userName order by r.num) AS RNUM
		from member m inner join member_role mr
		on(m.userName = mr.userName)
		inner join role r
		on (mr.num = r.num)) RN
		WHERE RNUM=1
  </select>
   
   <!-- 카테고리별 타입 가져오기 -->
   
   </mapper>