<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kjl.fp.board.BoardMapper">
  	
  	<!-- 카테고리 별 게시판 리스트 불러오기 -->
  	<select id="getBoardList" parameterType="BoardVO" resultType="BoardVO">
  		SELECT *
  		FROM
  			board
  		WHERE
  			board_type = #{board_type}
  	</select>
  	
  	<!-- 하나의 게시글 불러오기 -->
  	<select id="getSelectOne" parameterType="BoardVO" resultType="BoardVO">
  		SELECT *
  		FROM
  			board
  		WHERE
  			board_id = #{board_id}
  	</select>
  	
  </mapper>
  