<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kjl.fp.product.bread.BreadMapper">

	<select id="selectAll" resultType="BreadVO">
		select * from productbread
	</select>
	
	<select id="starbread" resultType="StarBreadVO">
		select * from starbread
	</select>	
	
	<insert id="pdcarts"  parameterType="CartVO">
		INSERT INTO CART (userName, pdNum, pdName, pdPrice, pdCnt)
		VALUES(#{userName} ,#{pdNum} ,#{pdName} ,#{pdPrice}, 1)
	<!-- 	MERGE INTO CART C
			USING DUAL
				ON(C.CART_ID = #{CART_ID})
		WHEN MATCHED THEN (
			UPDATE SET
				  userName = #{userName}
				, pdNum = #{pdNum}
				, pdName = #{pdName}
				, pdPrice = #{pdPrice}
				, pdCnt = NULL
		)
		WHEN NOT MATCHED THEN (
			INSERT (cart_id, userName, pdNum, pdName, pdPrice, pdCnt)
			VALUES (#{CART_ID} , #{userName} ,#{pdNum} ,#{pdName} ,#{pdPrice}, pdCnt = NULL)
		) -->
	</insert>
 </mapper>