<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.kjl.fp.board.campaign.CampaignRepository">
  
  	<select id="getList" parameterType="BoardVO" resultType="BoardVO">
  		SELECT *
  		FROM
  			board
  		<if test="category_name != null">
  		WHERE
  			category_name = #{category_name}
  		</if>
  	</select>
  	
  </mapper>