<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kjl.fp.cart.CartMapper">
  	
  	<!-- Cart List -->
  	<select id="getCartList" parameterType="String" resultType="CartVO">
  		SELECT
  			c.*,
  			pd_bread.pdImg
  		FROM
  			cart c INNER JOIN productbread pd_bread
  		ON
  			c.pdNum = pd_bread.pdNum
  		WHERE
  			userName = #{userName}
  	</select>
  	
  	<!-- Cart Select List -->
  	<select id="getSelectList" parameterType="CartVO" resultType="CartVO">
  		SELECT *
  		FROM
  			cart
  		WHERE
  			cart_id = #{cart_id}
  	</select>
  	
  	<resultMap type="CouponVO" id="couponMap">
  		<id property="couponNum" column="couponNum"/>
  		<result property="couponName" column="couponName"/>
  		<result property="validity" column="validity"/>
  		<result property="couponPercent" column="couponPercent"/>
  		<collection property="coupon_MemberVO" resultMap="couponM">
  		</collection>
  	</resultMap>
  	
  	<resultMap type="CmVO" id="couponM">
  		<id property="couponNum" column="couponNum"/>
  		<result property="userName" column="userName"/>
  		<result property="used" column="used"/>
  	</resultMap>
  	
  	<!-- Coupon 불러오기 -->
  	<select id="getCouponList" parameterType="String" resultMap="couponMap">
  		SELECT 
  			c.couponNum,
  			c.couponName,
  			c.validity,
  			c.couponPercent,
  			cm.userName,
  			cm.used
  		FROM
  			coupon c INNER JOIN member_coupon cm
  		ON
  			c.couponNum = cm.couponNum
  		WHERE
  			cm.userName = #{userName} AND
  			cm.used = 0
  	</select>
  	
  	<!-- Coupon id에 해당하는 값 불러오기 -->
  	<select id="getCoupon" parameterType="CouponVO" resultType="CouponVO">
  		SELECT *
  		FROM
  			coupon
  		WHERE
  			couponNum = #{couponNum}
  	</select>
  	
  	<!-- 사용한 쿠폰 사용상태 변경 -->
  	<delete id="deleteUsing" parameterType="CouponVO">
  		UPDATE
  			member_coupon
  		SET
  			used = 1
  		WHERE
  			couponNum = #{couponNum}
  	</delete>
  	
  	<!-- Delete One -->
  	<delete id="deleteOne" parameterType="CartVO">
  		DELETE
  		FROM
  			cart
  		WHERE
  			cart_id = #{cart_id}
  	</delete>
  	
  	<!-- Update Count -->
  	<update id="updateCount" parameterType="CartVO">
  		UPDATE
  			cart
  		SET
  			pdCnt = #{pdCnt}
  		WHERE
  			pdNum = #{pdNum}
  	</update>
  	
  </mapper>