<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kjl.fp.member.MemberMapper">
  
  
  
  <select id="getCountCoupon" parameterType="MemberVO" resultType="Long">
  	select count(*) from member_coupon where userName=#{userName}
  </select>
  
  	<select id="getSelectOne" parameterType="String" resultMap="getLoginResult">
  		select M.*,R.*
		from member M inner join
		member_role MR on (M.userName=MR.userName)
		inner join 
		role R on(MR.num=R.num)
		WHERE M.userName =#{username}
  	</select>
  	
  	<resultMap type="MemberVO" id="getLoginResult">
  		<id column="userName" property="userName"/>
  		<result column="password" property="password"/>
  		<result column="name" property="name"/>
  		<result column="nickName" property="nickName"/>
  		<result column="sex" property="sex"/>
  		<result column="phone" property="phone"/>
  		<result column="birthday" property="birthday"/>
  		<result column="enabled" property="enabled"/>
  		<collection property="roles" javaType="List" ofType="RoleVO">
  			<id column="num" property="num"/>
  			<result column="roleName" property="roleName"/>
  		</collection>
  		
  		
  	
  	</resultMap>
  	
  	<select id="getUsername" parameterType="String" resultType="MemberVO">
  		select * from member where userName=#{userName}
  	</select>
  	
  	<delete id="setDeleteUser" parameterType="MemberVO">
  		delete from member where userName=#{userName}
  	</delete>
  	
  	<update id="setUpdatePassword" parameterType="MemberVO">
  		update member set password=#{password} where userName=#{userName}
  	</update>
  	
  	<update id="setUpdateNickName" parameterType="MemberVO">
  		update member set nickName=#{nickName} where userName=#{userName}
  	</update>
  	
  	
  	
  	<insert id="setJoin" parameterType="MemberVO">
  		insert into member values(#{userName},#{password},#{name},#{nickName},#{sex},#{phone},#{birthday},1)
  	</insert>
  	
  	<insert id="setRoleMember" parameterType="MemberVO">
  		insert into member_role values(#{userName},2)
  	</insert>
  
  
  </mapper>