@charset "UTF-8";




/* popup  */

.popup_wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 1064px; 
	left: 0px; 
	display: table;
	
	
}

.popup_blind{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.popup_blind:after{
	display: block;
	position: fixed;
	content: "";
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index: 90;
	top:0;
}

.login_popup{
	padding-bottom: 50px;
	position: relative;
	width: 98%;
	max-width:680px;
	background: #FFF;
	margin: auto;
	z-index: 99;
	box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 20%);
	
}

.login_popup h1.pop_tt{
	width:100%;
	background:#002f6c;
	text-align:center;
	color: #FFF;
	height: 70px;
	line-height: 70px;
	font-weight: 600;
	font-size: 22px;
	font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
}

.pop_close{
	margin: -43px 25px 0 0;
	float: right;
}

.pop_con_tt{
	width:86%;
	text-align:center;
	color:#202023;
	font-weight:400;
	font-size: 28px;
	margin: 45px auto 37px;
	line-height: 1.2em;
	
}

.pop_txt{
	width:80%;
	text-align:center;
	color:#707070;
	font-size: 15px;
	margin: -15px auto 36px;
	line-height: 1.5em;
	
}

.certify_list{
	display: table;
	width: 600px;
	margin: auto;
}

.certify_list li{
	float: left;
	width: 190px;
	margin-right: 15px;
	margin-bottom: 0;
	border: solid 1px #CCCCCC;
	box-sizing: border-box;
	border-radius:3px 3px; 
}

.certify_list li a{
	display:block;
	font-size:14px;
	color:#3c3c3c;
	padding: 129px 0 29px 0;
	text-align: center;
	line-height: 1.4em;
	font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
}

.certify_list li a em{
	margin-bottom: 11px;
	display: block;
	font-size: 18px;
	color: #202023;
}

.certify_list li a span{
	display: block;
	
}

.certify_list li:last-child{
	margin-right: 0;
}



.login_popup .certify_list li:nth-child(1) a{
	background: url(../../images/member/pop/pop_certify_img01.png) no-repeat;
	background-position: center 39px;
}

.login_popup .certify_list li:nth-child(2) a{
	background: url(../../images/member/pop/pop_certify_img02.png) no-repeat;
	background-position: center 39px;
}

.login_popup .certify_list li:nth-child(3) a{
	background: url(../../images/member/pop/pop_certify_img03.png) no-repeat;
	background-position: center 39px;
}

/* /popup  */


.div{
	display: block;
}


.login_bg{
	width: 100%;
	background: url(../../images/member/login/login_bg.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.login_con{
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 360px 0 200px;
}

.login_con h1.login_tt{
	text-align: center;
	margin-bottom: 93px;
	
}

.login_con h1.login_tt img{
	width: auto;
	height: auto;
}

.login_con p.login_txt{
	text-align: center;
	font-size: 18px;
	color: #e5e3e0;
	font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
	margin-bottom: 96px;
	
}

.login_con p.login_txt em{
	display: block;
	font-size: 38px;
	margin-bottom: 30px;
	font-weight: 600;
	color: #FFF;
	
}




.mem_info{
	width: 62.5%;
	padding: 70px 18.75%;
	background: #fff;
	margin-top: 20px;
	text-align: center;
}

.mem_info h2{
	line-height: 1.2em;
	font-size: 28px;
	color: #202023;
	font-family: '나눔스퀘어', NanumSquare, NS, '맑은 고딕', MalgunGothic, '돋움', Dotum;
	margin-bottom: 39px;
	
}

.mem_info h2 em{
	display: block;
	font-size: 30px;
	color: #002f6c;
	font-weight: 400;
	background: url(../../images/member/login/login_info_line.gif) no-repeat center bottom;
	padding: 11px 0 36px;
}

.mem_info p{
	font-size: 14px;
	color: #707070;
	line-height: 1.5em;
	margin-bottom: 38px;
}

.mem_info a {
	display: block;
	width: 100%;
	height: 66px;
	line-height: 66px;
	border: solid 1px #002f6c;
	background: #002f6c;
	font-size: 18px;
	font-weight: 600;
	color: #FFF;
	border-radius: 3px 3px; 
}

.login_box{
	width: 62.5%;
	background:#FFF;
	padding: 70px 18.75%; 
}

.login_box input{
	width: 100%;
	height: 56px;
	font-size: 15px;
	border: solid 1px #CCCCCC;
	border-radius: 3px 3px;
	padding-left:20px;
	box-sizing: border-box;
	margin-bottom: 10px; 
	
	
}

.login_box .email_save{
	margin: 4px 0 16px;
}
.login_box .email_save input[type="checkbox"]{
	width: 14px;
	height: 14px;
	vertical-align: middle;
	padding: 0 0;
	margin: 0 0;
	font-size: 15px;
	
}
.login_box .email_save label{
	font-size: 14px;
	margin-left: 10px;
	vertical-align: middle; 
}

.login_box input.login_btn{
	height: 68px;
	border: solid 1px #002f6c;
	background: #002f6c;
	font-size: 18px;
	font-weight: 600;
	color: #FFF;
	padding-left: 0;
}

.login_box .join_btn{
	margin-top: 20px;
}

.login_box .join_btn a{
	display: block;
	font-size: 15px;
	float: left;
	width: 32.4%;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border: solid 1px #ccd5e2;
	font-weight: 500;
	color: #002f6c;
	margin-right: 1.4%;
	box-sizing: border-box;
	
}

.login_box .join_btn a:last-child{
	margin-right: 0;
	
}

